<% provide(:title, t('signin.title')) %>
<h1 align="center"><%= t 'signin.header' %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email, t('general.email') %>
      <%= f.text_field :email %>

      <%= f.label :password, t('general.password') %>
      <%= f.password_field :password %>

      <label class="checkbox inline">
        <%= check_box_tag :remember_me, 1, params[:remember_me], :style => "opacity:1;" %>
        <%= label_tag :remember_me, t('signin.rememberme'), :style => "margin-left: 10px; margin-top: 2px;" %>
      </label>
      <br><br>

      <%= f.submit t('signin.signinbtn'), class: "btn btn-large btn-primary" %>
    <% end %>

    <p><%= link_to t('signin.forgotpassword'), new_password_reset_path %></p>
    <p><%= t 'signin.newuserlbl' %> <%= link_to t('signin.newuserlink'), signup_path %></p>
  </div>
</div>
