<% provide(:title, t('user.allUsersTitle')) %>
<h1><%= t('user.allUsersTitle') %> (<%= User.all.count %>)</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
