<% if signed_in? %>
  <% provide(:title, current_user.name) %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <h3>Projects</h3>
        <%= render 'shared/projectlist' %>
        <%= render 'shared/project_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Posting Feed</h3>
      <section>
        <%= render 'shared/posting_form' %>
      </section>
      <section>
        <%= render 'shared/feed' %>
      </section>
    </div>
  </div>  
<% else %>  
  <% provide(:title, 'Home') %>
  <div id="heroimg" class="hero-unit">
	<div class="row-fluid">
		<div class="span12">
			<h1>Optimize Your Projects!</h1><br>
			<div class="row-fluid">
				<div class="span6">
					<br><h3><%= image_tag("write.png") %>&nbsp;&nbsp;Share your story</h3>
                                        <h3><%= image_tag("collect.png") %>&nbsp;&nbsp;Collect the data</h3>
                                        <h3><%= image_tag("compare.png") %>&nbsp;&nbsp;Compare results</h3>
				</div>
				<div class="span6">
					<p>Register today and match up to available projects:</p>
					<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
						<fieldset>
							<%= render 'shared/error_messages', object: f.object %>
							<div class="control-group">
							  <%= f.label :name, 'Your Name:', :class => "control-label", :style => "font-size: 18px;" %>
							  <div class="controls">
								  <%= f.text_field :name %>
							  </div>
                                                        </div>
                                                        <div class="control-group">
							  <%= f.label :email, 'Email:', :class => "control-label", :style => "font-size: 18px;" %>
                                                          <div class="controls">
						  		<%= f.text_field :email %>
                                                          </div>
                                                        </div>
                                                        <div class="control-group">
							  <%= f.label :password, 'Password:', :class => "control-label", :style => "font-size: 18px;" %>
                                                          <div class="controls">
								  <%= f.password_field :password %>
                                                          </div>
                                                        </div>
                                                        <div class="control-group">
                                                          <div class="controls">
						  		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
							  </div>
                                                        </div">
						</fieldset>
					<% end %>
				</div>
			</div>
		</div>
	</div>
  </div>

  <div class="row">
	<div class="span4">
		<h2>Mission</h2>
		<p>Bring the power and insight of Big Data to you! Hyve.me assists you in maintaining and dissecting your data as well as providing an open market for tools and information.</p>
		<p><%= link_to 'Learn how &raquo;'.html_safe, about_path, :class => "btn" %></p>
	</div>
	<div class="span4">
		<h2>Take Tour</h2>
		<p>Do you want to know what to expect before you register? We have compiled a tour with screenshots and sample data to demonstrate the use of Hyve.me.</p>
		<p><%= link_to 'Show me &raquo;'.html_safe, tour_path, :class => "btn" %></p>
	</div>
	<div class="span4">
		<h2>Statistics</h2>
		<p>We at Hyve.me love numbers: Right now there are <%= @users.count rescue 0 %> users registered, working on <%= @projects.count rescue 0 %> projects. This is documented with <%= @postings.count rescue 0 %> postings and <% @data.count rescue 0 %> data items.</p>
		<p><%= link_to 'Read more &raquo;'.html_safe, project_path(1), :class => "btn" %></p>
	</div>
  </div>
<% end %>

