<% provide(:title, 'Home') %>
<div id="heroimg" class="hero-unit">
	<div class="row-fluid">
		<div class="span12">
			<h1>Big Data for You</h1><br>
			<div class="row-fluid">
				<div class="span6">
					<br><h3><%= image_tag("collect.png") %>&nbsp;&nbsp;Collect your data</h3>
                                        <h3><%= image_tag("analyze.png") %>&nbsp;&nbsp;Analyze and visualize</h3>
                                        <h3><%= image_tag("trade.png") %>&nbsp;&nbsp;Trade and benefit</h3>
				</div>
				<div class="span6">
					<p>Register today and start using your data:</p>
					<%= form_for @user, :html => {:class => "form-horizontal"} do |f| %>
						<fieldset>
							<div class="control-group">
							  <%= f.label :name, 'Your Name:', :class => "control-label", :style => "font-size: 18px;" %>
							  <div class="controls">
								  <%= f.text_field :name %>
							  </div>
                                                        </div>
                                                        <div class="control-group">
							  <%= f.label :email, 'Email:', :class => "control-label", :style => "font-size: 18px;" %>
                                                          <div class="controls">
						  		<%= f.text_field :email %>
                                                          </div>
                                                        </div>
                                                        <div class="control-group">
							  <%= f.label :password, 'Password:', :class => "control-label", :style => "font-size: 18px;" %>
                                                          <div class="controls">
								  <%= f.password_field :password %>
                                                          </div>
                                                        </div>
                                                        <div class="control-group">
                                                          <div class="controls">
						  		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
							  </div>
                                                        </div">
						</fieldset>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h2>Mission</h2>
		<p>Bring the power and insight of Big Data to you! Hyve.me assists you in maintaining and dissecting your data as well as providing an open market for tools and information.</p>
		<p><a class="btn" href="#">Learn how &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Take Tour</h2>
		<p>Do you want to know what to expect before you register? We have compiled a tour with screenshots and sample data to demonstrate the use of Hyve.me.</p>
		<p><a class="btn" href="#">Show me &raquo;</a></p>
	</div>
	<div class="span4">
		<h2>Statistics</h2>
		<p>We at Hyve.me love numbers: Right now there are 98 users registered, working on 158 projects; in the Bazaar 23 transactions took place in the last 24 hours.</p>
		<p><a class="btn" href="#">Read more &raquo;</a></p>
	</div>
</div>


