<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <% if current_user?(@user) %>
          <span class="subedit">
            <%= link_to('<i class="icon-pencil" style="position: absolute; margin-left: 5px; margin-top: 3px;"></i>'.html_safe, edit_user_path(current_user)) %>
          </span>
        <% end %>
      </h1>

<script>
$('h1').hover(function(){
$(this).children('.subedit').show();
},function(){
$(this).children('.subedit').hide();
});
</script>


      <%= render 'follow_form' if !current_user?(@user) %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <% if @user.projects.any? %>
        <h3>Projects (<%= @user.projects.count %>)</h3>
        <ul>
          <%= render @projects %>
        </ul>        
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <% if @user.postings.any? %>
      <h3>Postings (<%= @user.postings.count %>)</h3>
      <ol class="postings">
        <%= render @postings %>
      </ol>
      <%= will_paginate @postings %>
    <% end %>
  </div>
</div>
