<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.postings.any? %>
      <h3>Postings (<%= @user.postings.count %>)</h3>
        <ol class="postings">
          <%= render @postings %>
        </ol>
        <%= will_paginate @postings %>
    <% end %>
  </div>
</div>
