<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1 id="usertitle">
  <%= current_user.name %>
  <span class="subedit">
    <%= link_to('<i class="icon-pencil" style="position: absolute; margin-left: 5px; margin-top: 3px;"></i>'.html_safe, edit_user_path(current_user), :id => "user_hover_edit", :rel => "tooltip", :title => t('user.edittooltip'), :class => "mylink") %>
  </span>
</h1>

<script>
$('h1').hover(function(){
$(this).children('.subedit').show();
},function(){
$(this).children('.subedit').hide();
});
</script>

<script>
$('.mylink').tooltip({ selector: "a" });
</script>

<span>
  <%= link_to t('user.vierprofilelink'), current_user %>
</span>
<span>
  <%= current_user.postings.count %> <%= t('user.postinglbl') %>
</span>
