<% if current_project_user?(@project) %>
  <section>
    <%= form_for(@project, :url => { :action => 'update_email' }, :html => { :id => 'email_switch', :style => 'margin-bottom:-8px;' }, remote: true ) do |f| %>
      <label>Data collection via email<sup><%= link_to "?", email_path %></sup>: <%= f.check_box :emaildata, :class => "ios-switch" %></label>
    <% end %>
  </section>
<script>
$('#email_switch').change(function(){
   $('#email_switch').submit();
});
</script>
<script>
var switches = document.querySelectorAll('input[type="checkbox"].ios-switch');

for (var i=0, sw; sw = switches[i++]; ) {
	var div = document.createElement('div');
	div.className = 'switch';
	sw.parentNode.insertBefore(div, sw.nextSibling);
}
</script>
<% end %>
<section>
<ul class="groups unstyled">
<% @groups.each do |group| %>
  <li><strong><%= group.name %></strong>
    <% if current_project_user?(@project) %>
      <span class="subedit"><a href="#groupEdit" onclick="document.update_group.elements['group[name]'].value='<%= group.name %>'; document.update_group.elements['group[comment]'].value='<%= group.comment %>'; document.update_group.elements['group[id]'].value='<%= group.id %>';" role="button" data-toggle="modal" rel="tooltip" title="edit group name" class="mylink"><i class="icon-pencil"></i></a></span>
    <% end %>
  </li>
    <ul>
    <% @structure = Structure.all(:conditions => "group_id=" + group.id.to_s, :order => "created_at ASC")
       @structure.each do |structure| %>
         <li><%= structure.name %>
         <% if current_project_user?(@project) %>
           <span class="subedit">
           <a href="#itemEdit" onclick="document.update_structure.elements['mystructure[name]'].value='<%= structure.name %>'; document.update_structure.elements['mystructure[comment]'].value='<%= structure.comment %>'; document.update_structure.elements['mystructure[id]'].value='<%= structure.id %>';" role="button" data-toggle="modal" rel="tooltip" title="edit item name" class="mylink"><i class="icon-pencil"></i></a>&nbsp;
           <a href="#dataNew" onclick="document.create_data.elements['dataval[structure_id]'].value='<%= structure.id %>'; document.create_data.elements['dataval[valdatime]'].value=Date();" role="button" data-toggle="modal" rel="tooltip" title="add data" class="mylink"><i class="icon-plus"></i></a>&nbsp;
           <%= link_to('<i class="icon-signal"></i>'.html_safe,structure) %>
           </span>
         <% end %>
         </li>
    <% end unless @structure.nil? %>
    <% if current_project_user?(@project) %>
      <li><a href="#itemNew" onclick="document.create_item.elements['myform[group_id]'].value='<%= group.id %>';" role="button" data-toggle="modal" rel="tooltip" title="add item" class="mylink">New Item</a></li>
    <% end %>
    </ul>
<% end unless @groups.nil? %>
  <% if current_project_user?(@project) %>
    <li><a href="#groupNew" role="button" data-toggle="modal"><strong>New Group</strong></a></li>
  <% end %>
</ul>
<script>
$('li').hover(function(){
$(this).children('.subedit').show();
},function(){
$(this).children('.subedit').hide();
});
</script>

<script>
$('.mylink').tooltip({ selector: "a" });
</script>

<!-- New Group -->
<%= form_tag( { :action => 'create_group' }, { :method => 'put', :name => 'create_group', :class => "form-horizontal" } ) do %>
  <div id="groupNew" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="groupNewLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="groupNewLabel">New Group</h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <%= label :group, :name, :class => "control-label" %>
        <div class="controls"><%= text_field :group, :name %></div>
      </div>
      <div class="control-group">
        <%= label :group, :comment, :class => "control-label" %>
        <div class="controls"><%= text_area :group, :comment, :rows => "2" %></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag("Create", class: "btn btn-primary") %>
    </div>
  </div>
<% end %>

<!-- Edit Group -->
<%= form_tag( { :action => 'update_group' }, { :method => 'put', :name => 'update_group', :class => "form-horizontal" } ) do %>
  <div id="groupEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="groupEditLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="groupEditLabel">Edit Group</h3>
    </div>
    <div class="modal-body">
      <%= hidden_field :group, :id %>
      <div class="control-group">
        <%= label :group, :name, :class => "control-label" %>
        <div class="controls"><%= text_field :group, :name %></div>
      </div>
      <div class="control-group">
        <%= label :group, :comment, :class => "control-label" %>
        <div class="controls"><%= text_area :group, :comment, :rows => "2" %></div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag("Delete Group", data: { confirm: "You sure?" }, :class => "btn btn-danger pull-left") %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag("Update", class: "btn btn-primary") %>
    </div>
  </div>
<% end %>

<!-- New Item -->
<%= form_tag( { :action => 'create_structure' }, { :method => 'put', :name => 'create_item', :class => "form-horizontal" } ) do %>
  <div id="itemNew" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="itemNewLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="itemNewLabel">New Item</h3>
    </div>
    <div class="modal-body">
      <%= hidden_field :myform, :group_id %>
      <div class="control-group">
        <%= label :myform, :name, :class => "control-label" %>
        <div class="controls"><%= text_field :myform, :name %></div>
      </div>
      <div class="control-group">
        <%= label :myform, :comment, :class => "control-label" %>
        <div class="controls"><%= text_area :myform, :comment, :rows => "2" %></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag("Create", class: "btn btn-primary") %>
    </div>
  </div>
<% end %>

<!-- Edit Item -->
<%= form_tag( { :action => 'update_structure' }, { :method => 'put', :name => 'update_structure', :class => "form-horizontal" } ) do %>
  <div id="itemEdit" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="itemEditLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="itemEditLabel">Edit Item</h3>
    </div>
    <div class="modal-body">
      <%= hidden_field :mystructure, :id %>
      <div class="control-group">
        <%= label :mystructure, :name, :class => "control-label" %>
        <div class="controls"><%= text_field :mystructure, :name %></div>
      </div>
      <div class="control-group">
        <%= label :mystructure, :comment, :class => "control-label" %>
        <div class="controls"><%= text_area :mystructure, :comment, :rows => "2" %></div>
      </div>
    </div>
    <div class="modal-footer">
      <%= submit_tag("Delete Item", data: { confirm: "You sure?" }, :class => "btn btn-danger pull-left") %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag("Update", class: "btn btn-primary") %>
    </div>
  </div>
<% end %>

<!-- New Data -->
<%= form_tag( { :action => 'create_data' }, { :method => 'put', :name => 'create_data', :class => "form-horizontal" } ) do %>
  <div id="dataNew" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="dataNewLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="dataNewLabel">New Data</h3>
    </div>
    <div class="modal-body">
      <%= hidden_field :dataval, :structure_id %>
      <div class="control-group">
        <%= label :dataval, :valdatime, 'Timestamp', :class => "control-label" %>
        <div class="controls">
          <div id="datetimepicker1" class="input-append date">
            <%= text_field :dataval, :valdatime, 'data-format' => 'dd/MM/yyyy hh:mm:ss' %>
            <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
          </div>
        </div>
      </div>

<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'en'
    });
  });
</script>

      <div class="control-group">
        <%= label :dataval, :value, :class => "control-label" %>
        <div class="controls"><%= text_field :dataval, :value %></div>
      </div>
      <div class="control-group">
        <%= label :dataval, :comment, :class => "control-label" %>
        <div class="controls"><%= text_area :dataval, :comment, :rows => "2" %></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= submit_tag("Create", class: "btn btn-primary") %>
    </div>
  </div>
<% end %>
</section>
