<% provide(:title, t('project.edittitle')) %>
<h1 align="center"><%= t 'project.editheader' %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name, t('project.name'), :id => "Name" %>
      <%= f.text_field :name %>

      <%= f.label :description, t('project.description') %>
      <%= f.text_area :description, :rows => "3" %>

      <%= f.label :expertise, t('project.expertise') %>
      <%= f.text_area :wissen, :rows => "3" %>
	  
      <%= f.label :work, t('project.work') %>
      <%= f.text_area :tun, :rows => "3" %>
	  
      <%= f.label :plans, t('project.plans') %>
      <%= f.text_area :hoffen, :rows => "3" %>

      <hr style="margin-top:0; margin-bottom:10px;">

      <%= f.submit t('project.editDelete'), data: { confirm: t('general.Confirmmsg') }, class: "btn btn-danger", id: "delete_project" %>
      <%= f.submit t('general.updatebtn'), class: "btn btn-primary pull-right" %>&nbsp;
      <%= link_to t('general.closebtn'), project_path(params[:id]), class: "btn pull-right", style: "margin-right: 10px;"%>

    <% end %>

  </div>
</div>

