<% provide(:title, t('project.allProjectsTitle')) %>
<h1><%= t('project.allProjectsTitle') %></h1>
<a href="#projectNew" style="margin-top: -50px;" role="button" data-toggle="modal" class="btn btn-large btn-primary pull-right"><%= t('project.allProjectsCreateNewProjectBtn') %></a>

<%= will_paginate %>

<ul class="projects">
  <% @projects.each do |project| %>
    <li>
      <span class="projectname"><%= link_to project.name, project %></span>
      <span class="projectage"><%= t('general.bylbl') %> <%= User.find_by_id(project.user_id).name %></span>
      <span class="projectdescription"><%= project.description %></span>
      <span class="projectage">
        <%= t('project.postedlbl1') %> <%= time_ago_in_words(project.created_at) %><%= t('user.postedlbl2') %>.
        <% if current_user.admin? %> | <%= link_to "delete", project, method: :delete, data: { confirm: "You sure?" } %> <% end %>
      </span>
    </li>
  <% end %>
</ul>

<%= will_paginate %>

<!-- New Project -->
<%= form_tag( :url => { :controller => 'users', :action => 'create_project' } ) do %>
  <div id="projectNew" class="modal hide fade form-horizontal" tabindex="-1" role="dialog" aria-labelledby="projectNewLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="projectNewLabel"><%= t('project.newheader') %></h3>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <%= label :project, :name, t('project.name'), :class => "control-label" %>
        <div class="controls"><%= text_field :project, :name %></div>
      </div>
      <div class="control-group">
        <%= label :project, :description, t('project.description'), :class => "control-label" %>
        <div class="controls"><%= text_area :project, :description, :rows => "2" %></div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true"><%= t('general.closebtn') %></button>
      <%= submit_tag(t('general.createbtn'), class: "btn btn-primary") %>
    </div>
  </div>
<% end %>

