<% provide(:title, @project.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @project.name %>
      </h1>
      <% if current_project_user?(@project) %>
        <%= link_to("Edit", edit_project_path(@project.id), :class => "btn btn-primary") %>
      <% else %>
        <%= link_to("Follow", root_path, :class => "btn btn-success") %>
      <% end %>
    </section>
    <section>
      <%= render 'attributes' %>
    </section>
    <% sp = similar_projects(params[:id])
       if sp != 0 %>
         <section>
           <h3>Similar Projects</h3>
           <ul>
             <% sp.each do |p| %>
               <li><%= link_to(p[1], project_path(p[0])) %> (<%= p[2] %>%)</li>
             <% end %>
           </ul>
         </section>
    <% end %>
  </aside>
  <div class="span8">

	<ul id="projectTab" class="nav nav-tabs">
	  <li class="active"><a href="#general" data-toggle="tab">General</a></li>
	  <li><a href="#data" data-toggle="tab">Data</a></li>
	</ul>
	<div id="projectTabContent" class="tab-content">
	  <div class="tab-pane fade in active" id="general">
            <h5>Team</h5>
            <p<strong:>Owner:</strong> <%= link_to @user.name, user_path(@user) %></p>
	    <h5>Description</h5>
            <span class="content"><%= @project.description %></span>
		
            <% if @project.wissen and @project.wissen.length > 0 %>
              <h5>Expertise <small>(What can I know?)</small></h5>
	      <span class="content"><%= @project.wissen %></span>
	    <% end %>
		
		<% if @project.tun and @project.tun.length > 0 %>
		  <h5>Work<small> (What ought I do?)</small></h5>
		  <span class="content"><%= @project.tun %></span>
		<% end %>
		
		<% if @project.hoffen and @project.hoffen.length > 0 %>
		  <h5>Plans<small> (What may I hope?)</small></h5>
		  <span class="content"><%= @project.hoffen %></span>
		<% end %>
	  </div>
	  <div class="tab-pane fade" id="data">
		<p>coming really soon now</p>
	  </div>
	</div>

  </div>
</div>

