<% provide(:title, t('project.templateWizardTitleP1') + @project.name) %>
<h1 align = "center"><%= @project.name + ": " + t('project.chooseTemplate') %></h1>
<div class="row">
 <%= form_tag({:action => 'choose_template'}, {:method => 'put', :name => 'choose_template', :class => "form-horizontal" } ) do %>
  <div class="row">
   <div class="span9 offset2">
    <p class="myfloat" align="justify"><%= t('project.templateWizardDescriptionP1') %></p>
   </div>
   <div class="span7 offset3">
     <% @template.each do |item|
        if item.lang.downcase == I18n.locale.to_s.downcase %>
          <label class="radio">
            <%= radio_button_tag :template, item.templateid %><strong><%= item.name %></strong>
            <p class="myfloat"><%= item.description.html_safe %></p>
          </label>
     <% end
      end %>
     <p>&nbsp;</p>
   </div>
   <div class="span9 offset2">
     <%= submit_tag(t('general.cancelbtn'), :class => "btn btn-info btn-large pull-left", :id => "Cancel") %>
     <%= submit_tag(t('project.categoryNext'), :class => "btn btn-info btn-large pull-right", :id => "Next") %>
   </div>
  </div>
 <% end %>
 <p>&nbsp;</p>
</div>

