<footer class="footer">
  <small>
	language: <%= link_to "English", '#' %> <%= link_to "Deutsch", '#' %>
  </small>
  <nav class="pull-right">
    <ul>
      <li><%= link_to "Imprint", imprint_path %></li>
      <li><%= link_to "Blog", 'http://hyve.me/blog' %></li>
      <li><%= link_to "Feedback", 'http://hyve.uservoice.com/' %>
    </ul>
  </nav><br>
  <div style="clear: both; text-align: right;">
	<span style="float: left;">&copy; Hyve.me 2013</span>
  	social: <a href="https://www.facebook.com/Hyve.me">f</a> | <a href="https://plus.google.com/115523021927594181806">g</a> | <a href="https://twitter.com/HyveInfo">t</a>
  </div>
</footer>
